<footer class="container footer">
    <p>I created Colander app to make recipes from my favorite food blogs easily searchable by name or ingredients. Just start typing what you are in the mood for and Colander will pull all the recipes you might like!</p>
    <p>Built with &hearts; by <a href="https://github.com/AkimaLunar/colander.recipes">Ria Carmin</a> in 2017.</p>
</footer>