<div class="container">
    <div class="row">
        <img class="navigation__logo navigation__inner" src="assets/colander-recipes-logo-s.svg" onerror="this.onerror=null; this.src='assets/colander-recipes-logo-l.png'">
        
        {{> 'search.hbs'}}
    </div>
</div>