<form id="algoliaSearchForm" class="splash__form navigation__inner" action="">
    <input id="algoliaSearchInput" class="splash__input" type="text" placeholder="Search for a recipe">
    <button id="algoliaSearchSubmit" class="navigation__button" type="submit"><i class="fa fa-search fa-lg"></i></button>
</form>