<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Colander Recipes</title>
        <meta name="description" content="Colander Recipes | Search vegetarian and vegan recipes.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        {{> 'css-links.hbs'}}
    </head>
    <body>
        <!--[if lt IE 8]>
        <div class="container browserupgrade">
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
        <![endif]-->

        <header id="splashHeader" class="splash__logo">
            <img src="https://dl.dropboxusercontent.com/u/108453220/colander-recipes/colander-recipes-logo-l.svg" onerror="this.onerror=null; this.src='https://dl.dropboxusercontent.com/u/108453220/colander-recipes/colander-recipes-logo-l.png'">
        </header>

        <nav class="splash__main">
            <div class="container">
                <div class="row">
                    <p class="splash__description">Curated vegetarian and vegan recipes from the best food blogs.</p>
                    {{> 'search.hbs'}}
                </div>
            </div>
        </nav>
        <main class="container results">
            <div class="row" id="results"></div>
        </main>

        {{> 'footer.hbs'}}

        <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>

    </body>
</html>
